<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp Work Finder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- nav bar --}}
    <header>

        <nav class="navbar is-white" role="navigation" aria-label="main navigation">
            <input type="checkbox" id="toggler" class="toggler" />
            <div class="navbar-brand">

                <a class="navbar-item" href="/">
                    <img src="https://user-images.githubusercontent.com/112873819/219166145-40394699-d5f5-4687-af97-d9ac05ab7821.png"
                        width="50" height="28"><span id="title">Welcome to Bootcamp Work Finder</span>
                </a>
                <label for="toggler" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </label>
            </div>
            <div id="navbarBasic
                     " class="navbar-menu">
                <div class="navbar-start">


                    <div class="navbar-start ">
                        <a class="navbar-item" href="/findjobs">
                            Find Jobs
                        </a>
                        <a class="navbar-item" href="/jobs">
                            Jobs
                        </a>
                        <a class="navbar-item" href="/postjob">
                            Post a Job
                        </a>
                        <a class="navbar-item" href="/skills">
                            Skills
                        </a>
                        <a class="navbar-item" href="/Contactus">
                            Contact
                        </a>
                    </div>
                </div>
            </div>



            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#if logged_in}}
                        <button class="button is-light" id="logout">Logout</button>
                        {{else}}
                        <a class="button is-primary" href="/">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/login">
                            Log in
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {{{body}}}

    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>

</html>