<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BootCamp-Work_Finder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- nav bar --}}
    <header>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                {{!-- website logo --}}
                <a class="navbar-item" href="/">
                    <img src="https://user-images.githubusercontent.com/112873819/217544805-69375c09-7c39-4b30-be45-d8dee65de5b9.png"
                        width="50" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            {{!-- nav bar buttons --}}
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/findjobs">
                        Find Jobs
                    </a>

                    <a class="navbar-item" href="/jobs">
                        Jobs
                    </a>
                    <a class="navbar-item" href="/postjob">
                        Post a Job
                    </a>
                    <a class="navbar-item" href="/contactus">
                        Contact
                    </a>
                </div>
                {{!-- sign up & log in btn --}}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{#if logged_in}}

                            <button class="button is-light" id="logout">Logout</button>

                            {{else}}

                            <a class="button is-primary" href="/">Sign up</a>
                            <a class="button is-light" href="/login">Log in</a>

                            {{/if}}


                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {{{body}}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>