
{{!-- contact form --}}
<section class="hero is-fullheight login-bg">
    <div class="container post-job-form">
        <form class="form-bg" method="post">
            <div class="title">
                <h2 class="has-text-white">Contact Form</h2>
            </div>
            {{!-- Name --}}
            <div class="field">
                <label for="Name">Name</label>
                <input class="input is-primary" name="Name" type="text" placeholder=" Name">
            </div>
            {{!-- Email --}}
            <div class="field">
                <label for="email">Email</label>
                <input class="input is-primary" name="Email" type="text" placeholder="Email address">
            </div>
            {{!-- Message --}}
            <div class="field">
                <label class="Subject">Message</label>
                <div class="control">
                    <textarea class="textarea" name="Subject" placeholder="Write Something"></textarea>
                </div>
            </div>
            {{!-- submit btn --}}
            <div class="field mt-6">
                <button class="button is-primary is-fullwidth" type="submit">Submit</button>
            </div>



        </form>

    </div>

    </div>
</section>