{{!-- nav bar --}}
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/index.html">
                <img src="https://user-images.githubusercontent.com/112873819/217544805-69375c09-7c39-4b30-be45-d8dee65de5b9.png"
                    width="50" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    Documentation
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


{{!-- hard coded data..will be replace with db data --}}
<div class="column">
    <div class="box has-background-white has-text-centered has-text-black jobs-box">
        <h1>Full-Stack Developer</h1>
        <h2>UNB</h2>
        <p>UNB@gmail.com</p>
        <p>$5000</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda
            aut
            autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
            Mollitia corporis at nulla.</p>
    </div>
    <div class="box has-background-white has-text-centered has-text-black jobs-box">
        <h1>Full-Stack Developer</h1>
        <h2>UNB</h2>
        <p>UNB@gmail.com</p>
        <p>$5000</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda aut
            autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
            Mollitia corporis at nulla.</p>
    </div>
    <div class="box has-background-white has-text-centered has-text-black jobs-box">
        <h1>Full-Stack Developer</h1>
        <h2>UNB</h2>
        <p>UNB@gmail.com</p>
        <p>$5000</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda aut
            autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
            Mollitia corporis at nulla.</p>
    </div>
    <div class="box has-background-white has-text-centered has-text-black jobs-box">
        <h1>Full-Stack Developer</h1>
        <h2>UNB</h2>
        <p>UNB@gmail.com</p>
        <p>$5000</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore doloremque nobis minima assumenda aut
            autem expedita quidem? Provident, dolorum. Maxime voluptatem illum laboriosam et, reiciendis asperiores?
            Mollitia corporis at nulla.</p>
    </div>




</div>