{{!-- nav bar --}}
<header>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {{!-- website logo --}}
            <a class="navbar-item">
                <img src="https://user-images.githubusercontent.com/112873819/217544805-69375c09-7c39-4b30-be45-d8dee65de5b9.png"
                    width="50" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {{!-- nav bar buttons --}}
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/findjobs">
                    Find Jobs
                </a>

                <a class="navbar-item" href=" /login">
                    Jobs
                </a>
                <a class="navbar-item" href="/postjob">
                    Post a Job
                </a>
                <a class="navbar-item" href="/contactus">
                    Contact
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/">Sign up</a>
                        <a class="button is-light" href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


{{!-- Post job Form --}}
<section class="hero is-fullheight login-bg">
    <div class="container post-job-form">
        <form class="form-bg" method="post">
            <div class="title">
                <h2 class="has-text-white"> Post a Job</h2>
            </div>
            {{!-- company name --}}
            <div class="field">
                <label for="Company-Name">Company Name</label>
                <input class="input is-primary" name="Company-Name" type="text" placeholder="Company Name">
            </div>
            {{!-- company email --}}
            <div class="field">
                <label for="email">Email</label>
                <input class="input is-primary" name="Email" type="text" placeholder="Email address">
            </div>
            {{!-- phone number --}}
            <div class="field">
                <label for="Phone-number">Phone number</label>
                <input class="input is-primary" name="Phone-number" type="phone" placeholder="Phone number">
            </div>
            {{!-- job title --}}
            <div class="field">
                <label for="Job-Title">Job Title</label>
                <input class="input is-primary" name="Job-Title" type="text" placeholder="Job Title">
            </div>
            {{!-- job Description --}}
            <div class="field">
                <label class="Job Description">Job Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Job Description"></textarea>
                </div>
            </div>
            {{!-- submit btn --}}
            <div class="field mt-6">
                <button class="button is-primary is-fullwidth" type="submit">Submit</button>
            </div>
        </form>

    </div>

    </div>
</section>