{{!-- Post job Form --}}
<section class="hero is-fullheight login-bg">
    <div class="container post-job-form">
        <form class="form-bg" method="post">
            <div class="title">
                <h2 class="has-text-white"> Post a Job</h2>
            </div>
            {{!-- company name --}}
            <div class="field">
                <label for="Company-Name">Company Name</label>
                <input class="input is-primary" name="Company-Name" type="text" placeholder="Company Name">
            </div>
            {{!-- company email --}}
            <div class="field">
                <label for="email">Email</label>
                <input class="input is-primary" name="Email" type="text" placeholder="Email address">
            </div>
            {{!-- phone number --}}
            <div class="field">
                <label for="Phone-number">Phone number</label>
                <input class="input is-primary" name="Phone-number" type="phone" placeholder="Phone number">
            </div>
            {{!-- job title --}}
            <div class="field">
                <label for="Job-Title">Job Title</label>
                <input class="input is-primary" name="Job-Title" type="text" placeholder="Job Title">
            </div>
            {{!-- job Description --}}
            <div class="field">
                <label class="Job Description">Job Description</label>
                <div class="control">
                    <textarea class="textarea" name="jobDescription" placeholder="Job Description"></textarea>
                </div>
            </div>
            {{!-- submit btn --}}
            <div class="field mt-6">
                <button class="button is-primary is-fullwidth" type="submit">Submit</button>
            </div>
        </form>

    </div>

    </div>
</section>