{{!-- nav bar --}}
<header>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {{!-- website logo --}}
            <a class="navbar-item" href="/">
                <img src="https://user-images.githubusercontent.com/112873819/217544805-69375c09-7c39-4b30-be45-d8dee65de5b9.png"
                    width="50" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {{!-- nav bar buttons --}}
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/findjobs">
                    Find Jobs
                </a>

                <a class="navbar-item" href=" /login">
                    Jobs
                </a>
                <a class="navbar-item" href="/postjob">
                    Post a Job
                </a>
                <a class="navbar-item">
                    Companies Review
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/">Sign up</a>
                        <a class="button is-light" href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>


{{!-- create a account --}}
<section id="sign_up">
    <div class="container intro">
        <h2>Welcome to BootCamp-Work-Finder</h2>
        <h3>Your Dream Job is Waiting </h3>
    </div>
    <div class="create-account">
        <form>
            <div class="title has-text-black">
                <h2> Create Account</h2>
            </div>
            <div class="field has-text-black">
                <label for="name">First Name</label>
                <input class="input is-primary" name="first-name" type="text" placeholder="First Name">
            </div>
            <div class="field has-text-black">
                <label for="name">Last Name</label>
                <input class="input is-primary" name="last-name" type="text" placeholder="Last Name">
            </div>
            <div class="field has-text-black">
                <label for="email">Email</label>
                <input class="input is-primary" name="Email" type="text" placeholder="Email address">
            </div>

            <div class="field has-text-black">
                <label for="Name">Password</label>
                <input class="input is-primary" name="password" type="password" placeholder="Password">
            </div>

            <div class="field mt-6">
                <button class="button is-primary is-fullwidth" type="submit">Sign Up</button>
            </div>


        </form>
    </div>
</section>


{{!-- text container --}}
<div class="container-2">
    <div class="job-img">
        <p><img src="https://user-images.githubusercontent.com/112873819/217670288-973d12b4-0581-4f0e-9945-fc142c0432c5.png"
                width="50" height="28"></p>
    </div>
    <div>
        <h1>Looking for the job or post a job?</h1>
        <br>
        <h1>Sign up to get access to free job search tools in one place</h1>
    </div>


</div>