/* Element Style */
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

footer {
  text-align: center;
  color: black;
  margin-top: 10px;
}

/* id and Class Styling */

#sign_up {
  background-image: url('https://user-images.githubusercontent.com/112873819/217618270-69dd434f-89ad-427c-ae54-f97735c1a1bb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: row;
}

.create-account {
  background-color: hsla(201, 15%, 66%, 0.6);
  padding: 30px;
  margin-right: 200px;
  margin-top: 150px;
  height: 500px;
  min-width: 400px;
  width: 20%;
  max-width: 600px;
  border-radius: 10px;
}

.info {
  color: #7FE9DE;
  margin-top: 200px;
  padding-left: 150px;
  font-size: 3em;
}


.container-2 {
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  width: 100%;
  color: rgb(8, 8, 8);
  padding-top: 50px;
}

.job-img {
  padding-top: 20px;
  padding-right: 20px;
}

.login-bg {
  background-image: url('https://user-images.githubusercontent.com/112873819/217674156-3dd16b5e-0d14-4066-a021-c0d89f36da46.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-account {
  background-color: hsla(200, 12%, 25%, 0.6);
  color: white;
  padding: 50px;
  height: 500px;
  min-width: 400px;
  width: 20%;
  max-width: 600px;
  border-radius: 10px;
}

.jobs-box {
  border: 2px black solid;
}

.jobSearch {
  padding-top: 100px;
  align-items: center;
}

.searchInput {
  width: 500px;
  margin-left: 450px;
  padding-bottom: 50px;
}

.form-bg {
  background-color: hsla(200, 12%, 25%, 0.6);
  color: white;
  padding: 40px;
  margin-top: 150px;
  height: 700px;
  min-width: 400px;
  width: 1000px;
  border-radius: 10px;
}

.container-3-5 {
  text-align: center;

}

.container-4 {
  background-color: azure;
  padding: 20px 0;
}

.demand-job-title {
  text-align: center;
  margin-bottom: 40px;
}

.demand-job {
  background-color: aquamarine;
  margin: 20px 100px;
}